/* Estilos para el contenedor del artista */
  p{
    color: blue;
    margin-right: 5px;
  }
  /* Estilos para los botones */
  button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  /* Estilos para los campos de entrada y select */
  input[type="text"],
  input[type="number"],
  select {
    padding: 5px;
    margin-bottom: 5px;
  }
  
  /* Estilos para las etiquetas de los campos */
  label {
    color: blue;
    margin-right: 5px;
  }
  
  /* Estilos para el botón de enviar del formulario */
  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  ul {
    list-style: none;
  }